# Don't track content of these folders
node_modules/
dest/
css/input/*
!css/input/.gitkeep 
# Don't track any of these files
.package-lock.json
*.css
*.com
*.class
*.dll
*.exe
*.o
*.so
*.psd
*.sketch
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.map